{% trans_default_domain 'ShopBundle' %}

{% if products is not empty %}
    <h3>{{ 'layout.lastseen.header'|trans }}</h3>
    <div class="col-md-12">
        {% for product in products %}
            {{ include('@Shop/Partials/productPreview.html.twig') }}
        {% endfor %}
    </div>
{% endif %}
